<link rel="stylesheet" href="/css/styles.css">
<body>
    <main>
<p>Select the images</p>
<form method="POST" action="/upload" enctype="multipart/form-data"> 
    <input type="file" name="image">
    <input type="submit" name="btn_upload_profile_pic" value="Upload"> 
</form>
</main>
</body>
